@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
:root {
  --accentColor: #1dd1a1;
  /* --accentColor: #04ca83; */
  --white: #c8d6e5;
  --whitest: #fff;
  --black: #111;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

/* body {
  background-color: black;
} */

a {
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

span {
  color: var(--accentColor);
}

p {
  color: var(--white);
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  padding: 0 50px;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: var(--black);
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.section-title span {
  color: var(--accentColor);
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: var(--accentColor);
  background-color: transparent;
  border: 1px solid var(--accentColor);
  font-size: 2rem;
  /* text-transform: uppercase; */
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.4s ease-in-out;
  /* transition-property: background-color, color; */
}

.cta:hover {
  color: var(--whitest);
  background-color: var(--accentColor);
}

/* ___________________Header______________________ */

.header {
  background-color: var(--black);
  padding: 10px;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
  min-height: 8vh;
  transition: 0.3s ease background-color;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
  padding-right: 45px;
  padding-left: 85px;
}

.brand h1 {
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
}

.brand h1 span {
  color: var(--accentColor);
}

.nav-list ul {
  list-style: none;
  position: absolute;
  background-color: var(--black);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.7s ease left;
}

.nav-list ul.active {
  left: 0;
}

.nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

.nav-list ul li:hover a {
  color: var(--accentColor);
}

.hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  /* border: 3px solid white;
  border-radius: 50%; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
}

.hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: var(--white);
  z-index: -1;
}

.hamburger .bar::after,
.hamburger .bar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: var(--white);
  transition: 0.3s ease;
  transition-property: top, bottom;
}

.hamburger .bar::after {
  top: 8px;
}

.hamburger .bar::before {
  bottom: 8px;
}

.hamburger.active .bar::before {
  bottom: 0;
}

.hamburger.active .bar::after {
  top: 0;
}

/* ____________________Hero______________________ */

#hero {
  /* background-image: url(); */
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
  background-color: var(--black);
}

.hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}

.wrapper {
  width: 100%;
}

.arrow {
  /* background-color: pink; */
  position: absolute;
  padding-left: 600px;
  padding-top: 90px;
  text-align: center;
  visibility: visible;
}

.arrow a {
  color: var(--accentColor);
}

.bounce {
  -webkit-animation: pulse 1.7s infinite;
  animation: pulse 1.7s infinite;
}

.hero h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
}

.hero h1:nth-child(1) {
  animation-delay: 1s;
}

.hero h1:nth-child(2) {
  animation-delay: 2s;
}

.hero h1:nth-child(3) {
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 3s;
}

.hero h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: var(--accentColor);
  animation: text_reveal_box 1s ease;
  animation-delay: 0.3s;
}

.hero h1:nth-child(1) span {
  animation-delay: 0.5s;
}

.hero h1:nth-child(2) span {
  animation-delay: 1.5s;
}

.hero h1:nth-child(3) span {
  animation-delay: 2.5s;
}

/* ____________________Work_______________ */

#work {
  /* background-color: #01a3a4; */
  background-image: -webkit-linear-gradient(
    117deg,
    var(--white) 50%,
    var(--black) 50%
  );
  /* background: radial-gradient(#8395a7, #01a3a4); */
}

.work {
  min-height: 100vh;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 0 50px; */
}

.work p {
  font-weight: 400;
  padding-top: 10px;
  font-size: 2rem;
  line-height: 1.7;
  width: 800px;
  text-align: justify;
  color: var(--white);
  /* padding-right: 150px; */
}

.left {
  color: var(--white);
  padding-top: 10px;
  padding-left: 45px;
  text-align: left;
}

.skills {
  margin-left: 535px;
  overflow-x: hidden;
  /* background-color: yellow; */
  text-align: right;
}

.skills h1 {
  /* text-decoration: underline; */
  /* text-decoration-color: var(--accentColor); */
  padding-bottom: 20px;
  text-align: right;
}

.skills p {
  color: var(--black);
  font-weight: 700;
}

.skills span {
  font-weight: 400;
  color: var(--black);
}

.cta-resume {
  display: inline-block;
  padding: 10px 30px;
  color: var(--white);
  background-color: transparent;
  border: 2px solid var(--white);
  font-size: 2rem;
  /* text-transform: uppercase; */
  letter-spacing: 0.1rem;
  margin-top: 20px;
  margin-left: 50px;
  transition: 0.4s ease-in-out;
  /* transition-property: background-color, color; */
}

.cta-resume:hover {
  color: var(--whitest);
  border: 2px solid var(--accentColor);
  background-color: var(--accentColor);
}

/* _____________________________Projects_______________________ */
#projects {
  background-color: var(--white);
}

.projects {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.projects-header h1 {
  margin-bottom: 50px;
}

.all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}

.project-info {
  padding: 30px;
  flex-basis: 50%;
  background-color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(60deg, var(--black) 0%, #485563 100%);
  color: white;
}

.project-info a {
  text-decoration: none;
  color: var(--white);
}

.project-info a:hover {
  color: var(--accentColor);
}

.project-info h1 {
  font-size: 3.75rem;
  font-weight: 500;
}

.project-info h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 10px;
}

.project-info p {
  text-align: justify;
  color: var(--whitest);
}

.project-img {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.project-img::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, var(--black) 0%, #485563 100%);
  opacity: 0.7;
}

.project-img img {
  transition: 0.3s ease transform;
}

.project-item:hover .project-img img {
  transform: scale(1.1);
}

/* ___________________________About____________________ */

#about {
  height: 100vh;
  /* background: #ff9f43; */
  /* border-top: 150px solid red; */
  background-image: -webkit-linear-gradient(
    64deg,
    var(--black) 50%,
    var(--white) 50%
  );
}
.about {
  background-color: var(--white);
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

.col-left {
  width: 250px;
  height: 360px;
}

.col-right {
  width: 100%;
}

.col-right h2 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}

.col-right p {
  margin-bottom: 20px;
  padding: 0;
  color: #576574;
  font-weight: 500;
}

.col-right .cta-resume {
  margin-bottom: 30px;
  margin-left: 0;
  border: 2px solid var(--black);
  color: var(--black);
}

.cta-resume:hover {
  color: var(--whitest);
  border: 2px solid var(--accentColor);
  background-color: var(--accentColor);
}

.col-left .about-img {
  height: 122%;
  width: 100%;
  position: relative;
  border: 5px solid var(--whitest);
}

/* ____________________________Contact__________________________ */

#contact {
  background-color: var(--black);
  /* padding-top: 10px; */
}

.contact {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.contact-header h1 {
  padding-bottom: 5px;
  color: var(--white);
}

.contact-header {
  color: var(--white);
  margin-bottom: 40px;
}

.contact-info {
  /* padding: 50px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--white);
}

.contact-info h1 {
  padding-left: 48px;
  padding-bottom: 25px;
  font-size: 3.5rem;
  text-align: left;
}

.contact-info p {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.5;
  text-align: justify;
  padding-right: 350px;
}

.contact-info a {
  font-weight: bold;
  color: var(--white);
}

.contact-info a:hover {
  color: var(--accentColor);
}

.social {
  align-items: center;
  padding: 20px 52px;
  font-size: 2.3rem;
  display: flex;
  list-style: none;
}

/* .greeting {
  padding-left: 100px;
  text-align: center;
  align-items: center;
} */

/* _____________________________Foooter__________________________ */
footer {
  background-color: var(--black);
  text-align: center;
}

footer a {
  display: inline-block;
}

/* _____________________Keyframes_____________________ */

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 30px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 30px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: var(--white);
  }
}

@keyframes text_reveal_name {
  100% {
    color: var(--accentColor);
  }
}

/* End Keyframes */

/* Media Query for Tablet */

@media only screen and (min-width: 300px) and (max-width: 768px) {
  .arrow {
    margin-top: 30px;
    color: var(--accentColor);
    text-align: center;
    visibility: visible;
    padding-top: 190px;
    padding-left: 126px;
  }

  .nav-bar {
    padding-left: 20px;
    padding-right: 10px;
  }

  /* ___________________Projects__________________ */
  .project-info p {
    padding: 0;
    text-align: center;
    color: var(--whitest);
  }
}

@media only screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }

  .arrow {
    padding-left: 335px;
  }

  h1.section-title {
    font-size: 6rem;
  }

  /* Hero Section */
  #hero h1 {
    font-size: 7rem;
  }

  /* ______Projects________ */
  #projects {
    background-color: var(--white);
  }

  .project-item {
    flex-direction: row;
    padding: 20px;
  }

  .project-item:nth-child(even) {
    flex-direction: row-reverse;
  }

  .project-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }

  .all-projects .project-info {
    height: 100%;
  }

  .all-projects .project-img {
    height: 100%;
  }

  /* _________________About_______________ */

  #about .about {
    flex-direction: row;
  }

  .col-left {
    width: 600px;
    height: 400px;
    padding-left: 60px;
  }

  .col-right {
    text-align: left;
    justify-content: left;
    padding: 30px;
  }

  .col-right h1 {
    text-align: left;
  }

  .col-right p {
    text-align: left;
    padding: 0;
  }

  /* Media Query for Desktop */

  @media only screen and (min-width: 1200px) {
    /* Header */
    .hamburger {
      display: none;
    }

    .nav-list ul {
      position: initial;
      display: block;
      height: auto;
      width: fit-content;
      background-color: transparent;
    }

    .nav-list ul li {
      display: inline-block;
    }

    .nav-list ul li a {
      font-size: 1.8rem;
    }

    .arrow {
      padding-top: 150px;
      padding-left: 560px;
    }
  }
}
